*{
	box-sizing: border-box;
	}

body{
margin: 0;
font-family: 'Raleway', sans-serif;

}

/*header*/

header{
  height: 70px;
  z-index: 9999;
  position: fixed;
  top:0;
  display: block;
  width: 100%;
  
  font-family: 'Prata', serif;
  padding: 10px 16px;
  background-color: #0c5852; 
  
}

#nav1{
  padding-top: 10px;
  z-index: 9999;
}


#wrapper{
  margin: 0 auto;
}


#nav1 p,a{
  display: inline;
  margin-left: 10px;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #e5e5e5;

}

#nav1 a:hover{
color:#7f7f7f;
}

.icon:hover{
  background-color: #7f7f7f;
}

@font-face {
    font-family: Marigold;
    src: url("../images/Marigold 3.WOFF");
}

#myLinks{
  text-align: right;
}
.icon{
    height: 50px;
}
/*home*/

#home{
  height: 810px;
}


/*#home, #about, #work{
    position: relative;
    z-index: -1;   
}*/

#home{
  padding: 150px 70px 70px;
}

.parallax {
    background-image: linear-gradient(to bottom, transparent, black), url("../images/BotGarden_BirminghamAL4132.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;

}


.logo{
    font-family: 'Prata', serif;
    color: #e5e5e5;
    padding: 10px;
}

#myName{
  margin-top: 200px;
  font-family: Marigold;
  font-weight: 600;
  font-size: 10.0rem;
    
}


#tag{
  margin-top: 30px;
  font-size: 30px;
}

/*about*/
#about, #work, #contact{
  height: 810px;
}

#about{
  padding-top: 130px;
  background-color: #e3ebeb;
}

#profpic,#funpic{
  height: 200px;
}

h2{
  font-family: 'Prata', serif;
  text-align: center;
}

#abme1,#abme2{
  text-align: justify;  
}

#funpic,#profpic{
  margin-top: 30%; 
}

.abme{
  overflow-y: auto;
}

/*page 3*/

#work {
  margin:0;
  padding: 0;
}

.workrow{
  height: 50%;
  text-align: center;
}

.front img{
  width: 50%;
  margin-top: 35px;

}

.specs, .preview{
  width: 120px;
  font-size: .8em;
  text-align: center;
  padding:0;
}

.preview{
  margin-right: 12px;
}

.tophalf{
  padding-top: 30px;
    height: 320px;
}

.weight{
  font-weight: 700;
}

#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8{
  margin:0;
  padding: 0;
  width: 25%;
  height: 100%;
}



#box1{

  background-color: #A26769;
}

#box2{

  background-color: #F7DBA7;
  
}

#box3{
  background-color: #CAE5FF;
}

#box4{
  background-color: #FFCDCA;
}

#box5{
  background-color: #CAE5FF;
}

#box6{
  background-color:  #FFCDCA;
}

#box7{
  background-color: #A26769;
}

#box8{
  background-color: #F7DBA7;
}

/*page4*/
#contact{
  padding-top: 100px;
  text-align: center;

    background-image: linear-gradient(to top, transparent, black), url("../images/leaves.jpg");

    color:#e3ebeb;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*width:100%;*/

 
}

form{
  margin-top:100px;
}

#subButton{
  background-color: #0c5852;
  border-color: white;
}

/*modals*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.photodiv img{
  margin-top: 2%;
  margin-left: 10%;
  width: 80%;
  border:1px solid #0c5852;
  box-shadow: 5px 5px 10px #999999;
}

.infodiv h2{
  text-align: left;
}

.infodiv p a{
  margin-left: 0;
  color: #7f7f7f;
  font-size: 15px;
}

#launchButton{
  color: white;
  border: none;
  background-color: #0c5852
}